# Ignore everything
*

# Allow Documents folder
!Documents/

# Allow Obsidian Vault folder inside Documents
!Documents/Obsidian Vault/

# Allow Y2 folder inside Obsidian Vault
!Documents/Obsidian Vault/Y2/

# Finally allow all files inside Q1
!Documents/Obsidian Vault/Y2/Q1/**
